$pixel-size: 4;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    height: 100vh;
    width: 100%;
    cursor: none;
}

#canvas {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #fff;

    * {
        position: absolute;
    }
}

.map {
    width: 16px * $pixel-size * 23;
    height: 16px * $pixel-size * 10;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.fireball {
    position: absolute;
    background-image: url(./images/fireball.png);
    height: 16px * $pixel-size;
    width: 16px * $pixel-size;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
}

.character {
    &-pointer {
        margin-left: 32px;
        transform-origin: left;
        height: 16px * $pixel-size;
        width: 16px * $pixel-size + 32px;
        background-image: url(./images/staff.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        image-rendering: pixelated;
        z-index: 1;
    }

    &-default {
        height: 16px * $pixel-size;
        width: 16px * $pixel-size;
        image-rendering: pixelated;
        background-repeat: none;
        background-size: contain;
        z-index: 1;

        &[view="right"] {
            background-image: url(./images/mage-right.png);
        }

        &[view="left"] {
            background-image: url(./images/mage-left.png);
        }
    }
}

.chest {
    height: 16px * $pixel-size;
    width: 16px * $pixel-size;
    background-image: url(./images/chest.png);
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
}

#cursor {
    height: 16px * $pixel-size;
    width: 16px * $pixel-size;
    background-image: url(./images/cursor-default.png);
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    z-index: 1000;
}